#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* HomePage styles */
.card {
  padding: 2em;
}

.home-page-buttons {
  color: #5b5b5b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

/* SignUpPage styles */

.signup-login-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.signup-login-form-item {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}