#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* HomePage styles */
.app-vh-container {
  min-height: 100vh;
}

.card {
  padding: 2em;
}

.simple-page-buttons {
  color: #5b5b5b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-text {
  text-align: justify;
  width: 70vw;
  font-size: 1em;
}

/* SignUpPage styles */

.signup-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login-form-item {
  display: block;
  margin-bottom: 20px;
  width: 200px;
}


/* Create Page styles */

.create-page-items {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

/* Footer styles */

.footer-items {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

/* Questionnaire page */

.questionnaire-form {
  bottom: 100px;
  position: fixed;
}

/* Review doc page */

.review-field {
  background-color: white;
  border-style: solid;
  border: 2px solid black;
  padding-bottom: 100px;
}

.review-field h3 {
  text-align: center;
}

.review-field p {
  text-align: left;
}